body {
    margin: 0;
    font-family: sans-serif;
}

div {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 8px;
}

li, a {
    text-decoration: none;
}

input, textarea {
    box-sizing: border-box;
}

td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center; 
    font-family: sans-serif; 
    font-weight: 900; 
    font-size: 24px;
}

.sub-title {
    text-align: center;
    font-family: sans-serif;
}

.box {
    width: 200px;
    background-color: cadetblue;
    margin: 10px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    font-family: sans-serif;
    color: white;
    box-shadow: 5px 5px 5px black;
}

.container {
    width: 800px;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.blog-img {
    width: 20%;
    height: 200px;
    float: left;
}

.blog-content {
    width: 80%;
    height: 200px;
    float: left;
}

.user-img {
    float: left;
}

.user-name {
    float: left;
}

.user-content {
    clear: both;
}

.navbar li {
    display: inline-block;
    width: 60px;
    text-align: center;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}

.navbar a {
    font-size: 16px;
    text-decoration: none;
}

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
}

.main-title {
    font-size: 64px;
    color: #eee;
    margin: 32px 16px 16px 16px;
    padding: 1px;
}

.main-content {
    margin: 16px;
    font-size: 32px;
    padding: 1px;
    color: lightgray;
}

.main-btn{
    margin: 16px;
    padding: 8px;
    border-radius: 5px;
    background-color: darkolivegreen;
    color: #eee;
    font-size: 16px;
}

.info-background {
    width: 80%;
    max-width: 800px;
    min-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    position: relative;
    top: -100px;
    font-family: sans-serif;
}



.form-background {
    background-color: black;
    padding: 30px;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

.send-btn {
    float: right;
    padding: 2px 10px 2px 10px;
    background-color: gold;
    border-radius: 5px;
    border: 1px solid gray;
}

.cart-background {
    background-color: lightblue;
    padding: 30px;
}

.cart-table {
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.cart-table th, .cart-table td {
    border: 1px solid lightblue;
    border-width: 1px 0px 1px 0px;
    padding: 10px;
}

.cart-table thead {
    text-align: center;
}

.cart-table tbody {
    text-align: right;
}

.cart-section {
    width: 800px;
    margin: auto;
    padding: 20px;
}