body {
    margin: 0;
    font-family: sans-serif;
}

div {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 8px;
}

li, a {
    text-decoration: none;
}

.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center; 
    font-family: sans-serif; 
    font-weight: 900; 
    font-size: 24px;
}

.sub-title {
    text-align: center;
    font-family: sans-serif;
}

.box {
    width: 200px;
    background-color: cadetblue;
    margin: 10px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    font-family: sans-serif;
    color: white;
    box-shadow: 5px 5px 5px black;
}

.container {
    width: 800px;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.blog-img {
    width: 20%;
    height: 200px;
    float: left;
}

.blog-content {
    width: 80%;
    height: 200px;
    float: left;
}

.user-img {
    float: left;
}

.user-name {
    float: left;
}

.user-content {
    clear: both;
}

.navbar li {
    display: inline-block;
    width: 60px;
    text-align: center;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}

.navbar a {
    font-size: 16px;
    text-decoration: none;
}

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
}

.main-title {
    font-size: 64px;
    color: #eee;
    margin: 32px 16px 16px 16px;
    padding: 1px;
}

.main-content {
    margin: 16px;
    font-size: 32px;
    padding: 1px;
    color: lightgray;
}

.main-btn{
    margin: 16px;
    padding: 8px;
    border-radius: 5px;
    background-color: darkolivegreen;
    color: #eee;
    font-size: 16px;
}

.info-background {
    width: 80%;
    max-width: 800px;
    min-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    position: relative;
    top: -100px;
    font-family: sans-serif;
}

.contact-box {
    width: 400px;
    background-color: white;
    padding: 30px;
    margin: auto;
    letter-spacing: -1px;   
}

.form-box {
    padding: 0px;
    margin: auto;
}

input {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.form-top {
    width: 100%;
    margin-top: 30px;
}

.form-left {
    width: 48%;
    float: left;
    margin-right: 2%;
}

.form-right {
    width: 48%;
    float: left;
    margin-left: 2%;
}

.form-bottom {
    clear: both;
    width: 100%;
    margin-top: 10px;
    padding: 1px;
}

.form-submit {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.form-submit input {
    width: 10px;
    float: left;
}

.form-submit button {
    width: 100px;
    float: right;
    background-color: gold;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 5px;
}


